.affair {
    display: flex;
}

.active {
    background-color: green;
}

.button {
    margin: 10px;
    width: 60px;
    background: cornflowerblue;
    color: blue;
    outline: none;
}

.item {
    margin: 10px;
    width: 100px;
}

